@charset "utf-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0
}

body {
    font-family: "微软雅黑";
}

ul,
ol,
li {
    list-style: none;
}

b,
strong {
    font-weight: 100;
}

em,
i {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    font-size: 16px;
}

a,u {
    text-decoration: none;
}

input {
    outline: none;
}

img {
    display: block;
    border: 0;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}
//顶端
.top{
    width: 100%;
    min-width: 1200px;
    height: 40px;
    background: #e6e6e6;
    line-height: 40px;
    z-index: 101;
    position: relative;
    .top_con{
        width: 1200px;
        margin: auto;
        color: #555;
        .ga1{
            display: block;
            float: left;
            padding-left: 28px;
            color: #666;
            background: url(../images/index_sprites.png) no-repeat 0 10px;
            cursor: pointer;
            font-size: 12px;
        }
        .top_wel{
            float: left;
            margin-left: 45px;
            color: #666;
            font-size: 12px;
            a{
                margin-left: 20px;
                color: #c20005;
            }
        }
        .top_nav{
            float: right;
            .shopcar{
                float: left;
                a{
                    display: block;
                    background: url(../images/index_sprites.png) no-repeat -1px -38px;
                    font-size: 12px;
                    color: #666;
                    padding-left: 30px;
                    margin-right: 15px;
                    span{
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: #c8000a;
                        border-radius: 50%;
                        float: right;
                        margin: 10px 0 0 5px;
                        color: #fff;
                        text-align: center;
                        line-height: 20px;
                    }
                }
            }
            .mygai{
                float: left;
                display: block;
                width: 78px;
                text-indent: 10px;
                cursor: pointer;
                position: relative;
                height: 38px;
                line-height: 38px;
                border: #e6e6e6 solid 1px;
                background: url(../images/index_sprites.png) no-repeat -13px -2440px;
                margin-left: -2px;
                a{
                    color: #555;
                    font-size: 12px;
                }
                span{
                    display: block;
                    width: 13px;
                    height: 7px;
                    position: absolute;
                    right: 6px;
                    top: 17px;
                    background: url(../images/index_sprites.png) no-repeat -9px -206px;
                }
                .mygai_con{
                    display: none;
                    position: absolute;
                    left: -1px;
                    top: 38px;
                    width: 100%;
                    background: #fff;
                    border: 1px #646464 solid;
                    border-top: none;
                    padding: 5px 0px;
                    line-height: 22px;
                    a{
                        display: block;
                        text-align: center;
                        overflow: hidden;
                        height: 22px;
                        font-size: 12px;
                        margin-right: 12px;
                        color: #555;
                    }
                }
                .mygai_shang{
                    display: none;
                    position: absolute;
                    left: -1px;
                    top: 38px;
                    width: 100%;
                    background: #fff;
                    border: 1px #646464 solid;
                    border-top: none;
                    padding: 5px 0px;
                    line-height: 22px;
                    a{
                        display: block;
                        text-align: center;
                        overflow: hidden;
                        height: 22px;
                        font-size: 12px;
                        margin-right: 12px;
                        color: #555;
                    }
                }
            }
            .mygai_01{
                border: 1px #646464 solid;
                background: #fff;
                a{
                    color: #C20005;
                }
                span{
                    background-position: -55px -208px;
                }
            }
            .bookmarks{
                .mygai_shou{
                    display: none;
                    position: absolute;
                    left: -1px;
                    top: 38px;
                    width: 100%;
                    background: #fff;
                    border: 1px #646464 solid;
                    border-top: none;
                    padding: 5px 0px;
                    line-height: 22px;
                    a{
                        display: block;
                        text-align: center;
                        overflow: hidden;
                        height: 22px;
                        font-size: 12px;
                        margin-right: 12px;
                        color: #555;
                    }
                }
                a{
                    margin-left: 5px;
                }
            }
            .mygai_app{
                    display: block;
                    z-index: 20;
                    background: #fff;
                    border: 1px #646464 solid;

                 .app_code{
                    display: none;
                    position: absolute;
                    width: 230px;
                    left: -76px;
                    z-index: 10;
                    border: 1px #646464 solid;
                    top: 38px;
                    background: #fff;
                    padding: 5px 0px;
                    line-height: 22px;

                    .app_code_01{
                        float: left;
                        margin: 10px;
                        p{
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                    .app_code_02{
                        float: left;
                        margin: 10px;
                        
                        p{
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            }
            .top_app{
                width: 65px;
                display: block;
                float: left;
                padding-left: 12px;
                span{
                    background-position: -3px -100px;
                    width: 18px;
                    height: 20px;
                    right: 58px;
                    top: 11px;
                    display: block;
                }
                .app_code{
                    display: none;
                }
            }
           
            .mygai_zhong{
                    display: none;
                    position: absolute;
                    left: -1px;
                    top: 38px;
                    width: 100%;
                    background: #fff;
                    border: 1px #646464 solid;
                    border-top: none;
                    padding: 5px 0px;
                    line-height: 22px;
                    a{
                        display: block;
                        text-align: center;
                        overflow: hidden;
                        height: 22px;
                        font-size: 12px;
                        margin-right: 12px;
                        color: #555;
                    }
            }
        }
    }
}



//头部
.logo{
    width: 1200px;
    margin: auto;
    height: 110px;
    position: relative;
    z-index: 99;
    a{
        display: block;
        float: left;
        width: 209px;
        height: 57px;
        margin-left: 20px;
        margin-top: 19px;
    } 
    .top_search{
        float: left;
        margin: 26px 0 0 75px;
        width: 600px;
        .top_search_select{
            width: 56px;
            height: 32px;
            float: left;
            background: #ffffff;
            p{
//              商品
                padding-left: 7px;
                line-height: 30px;
                font-size: 14px;
                position: relative;
                cursor: pointer;
                border: #323232 solid 1px;
                border-right: none;
                background: url(../images/index_sprites.png) no-repeat 30px -2344px;
            }
            .shang_list{
                background: #323232;
                display: none;
                li{
                    color: white;
                    font-size: 14px;
                    text-align: center;
                    line-height: 26px;
                }
            }
        }
        .top_search_ipt{
            width: 450px;
            float: left;
            .top_search_box{
                float: left;
                height: 32px;
                width: 450px;
                background: #323232;
                position: relative;
               .keyword{
                    width: 376px;
                    height: 30px;
                    font-size: 14px;
                    line-height: 30px;
                    display: block;
                    float: left;
                    padding: 0px 10px;
                    border: #323232 solid 1px;
                    border-left: none;    
                }
                .top_search_but{
                    border: 0;
                    display: block;
                    width: 50px;
                    height: 32px;
                    float: left;
                    cursor: pointer;
                    background: url(../images/index_sprites.png) no-repeat 10px -443px;
                }
            }
        }
    }
}


//导航条
.nav{
    height: 40px;
    line-height: 40px;
    width: 100%;
    min-width: 1200px;
    background: #323232;
    .nav_con{
        width: 1200px;
        margin: auto;
        .nav_con_left{
            float: left;
            width: 145px;
            height: 40px;
            font-size: 16px;
            color: #fff;
            padding-left: 55px;
            position: relative;
            background: url(../images/index_sprites.png) no-repeat 18px -487px;
            background-color: #c20005;
            .nav_con_left_title{
                cursor: pointer;
            }
            .nav_con_left_list{
                display: none;
                position: absolute;
                left: 0px;
                width: 200px;
                top: 40px;
                background: #c8000a;
                z-index: 10;
                ul li{
                    font-size: 14px;
                    color: #fefefe;
                    cursor: pointer;
                    text-align: center;
                    .a1{
                        
                        width: 200px;
                        margin: 0 0 0 1px;
                        color: #fefefe;
                    }
                    .nav_con_left_item{
                        display: none;
                        background: white;
                        float: left;
                        font-size: 12px;
                        z-index: -1;
                        width: 998px;
                        min-height: 640px;
                        position: absolute;
                        left: 200px;
                        top: -1px;
                        border: 1px #c8000a solid;
                        cursor: default;
                        div{
                            margin-bottom: 15px;
                            margin-top: 32px;
                            dl{
                                margin: 3px 0 0 30px;
                                line-height: 27px;
                                height: 20px;
                                dt{
                                    float: left;
                                    color: #242424;
                                    font-weight: bold;
                                    width: 75px;
                                    .a2{    color: #000;}
                                }
                                dd{
                                    float: left;
                                    color: #666;
                                    width: 593px;
                                    border-bottom: #dddddd dotted 1px;
                                    line-height: 22px;
                                    padding-bottom: 5px;
                                    .a3{
                                        color: #666;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
               
            }
        }
        
        
        .nav_con_right{
            float: left;
            position: relative;
            max-width: 1000px;
            a{
                display: block;
                float: left;
                width: 100px;
                margin-right: 65px;
                text-align: center;
                line-height: 40px;
                height: 40px;
                font-size: 16px;
                color: #ffffff;
                .nav_new{
                    width: 30px;
                    height: 14px;
                    position: absolute;
                    margin-left: 2px;
                    top: 2px;
                    background: url(../images/index_sprites.png) no-repeat -2px -852px;
                }
            }
        }
    }
}


//底部介绍
.bottom{
    width: 100%;
    height: 100%;
    background: white;
    .bottom_con{
        background: #fff;
        border-top: 2px #c20005 solid;
        padding-top: 20px;
        width: 100%;
        min-width: 1200px;
        .bottom_slogan{
            width: 1200px;
            margin: auto;
            padding-top: 38px;
            overflow: hidden;
            .bottom_slogan_dl {
                display: block;
                overflow: hidden;
                .bottom_slogan_dt{
                    float: left;
                    border-radius: 50%;
                    border: #c8000a solid 1px;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    line-height: 54px;
                    font-size: 26px;
                    color: #c8000a;
                }
                .bottom_slogan_dd{
                    float: left;
                    color: #696969;
                    font-size: 16px;
                    margin: 2px 0 0 20px;
                    width: 150px;
                    span{
                        font-size: 22px;
                        color: #323232;
                        display: block;
                    }
                }
            }
            .bottom_info{
                border-top: 1px #dcdcdc solid;
                margin-top: 18px;
                padding: 25px 0px;
                .bottom_info_dl{
                    float: left;
                    width: 240px;
                    .bottom_info_dt{
                        font-size: 15px;
                        color: #333;
                        font-weight: bold;
                        line-height: 30px;
                    }
                    .bottom_info_dd{
                        display: block;
                        a{
                            color: #555;
                            font-size: 15px;
                            line-height: 30px;
                            width: 100%;
                            height: 30px;
                            overflow: hidden;
                            display: block;
                        }
                    }
                }
            }
        }
        .bottom_link{
                background: #333;
                width: 1349px;
                height: 150px;
                margin-top: 25px;
                .bottom_link_main{
                    width: 1200px;
                    height: 84px;
                    margin: 0 auto;
                    overflow: hidden;
                   ul{
                       width: 1200px;
                       height: 18px;
                       padding: 25px 180px 5px 180px;
                       display: block;
                       li{
                           float: left;
                            a{
                                display: block;
                               font-size: 12px;
                               color: white;
                            }
                       }
                   }  
                    .bottom_link_list{
                        width: 1200px;
                        height: 36px;
                        margin: 0 auto;
                        text-align: center;
                        span{
                            margin: 0px 5px;
                            color: #fff;
                            font-size: 12.5px;
                        }
                    }
                }
                .bottom_link_img{
                    margin-top: 20px;
                    text-align: center;
                    overflow: hidden;
                    a{
                        display: inline-block;
                        img{
                            margin-right: 15px;
                        }
                    }
                    
                }
            }
    }
}


//右侧导航
.right_float{
    width: 30px;
    height: 100%;
    background: #1b1b1b;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    .right_float_a1{
        position: relative;
        display: block;
        height: 32px;
        width: 100%;
        margin-top: 140px;
        text-align: center;
        writing-mode: lr-tb;
        color: #fff;
        word-wrap: break-word;
        background: url(../images/index_sprites.png) no-repeat -3px -893px;
        span{
            height: 32px;
            position: absolute;
            top: 0px;
            opacity: 0;
            z-index: 999;
            transition: 0.5s;
            width: 100px;
            right: 60px;
            color: #ffffff;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            background-color: #c20005;
            display: none;
        }
    }
    .right_float_a1:hover{
        background-color: #c20005;
        span{
            position: absolute;
            display: block;
            top: 0px;
            right: 30px;
            opacity: 1;
        }
    }
    .right_float_a2{
        display: block;
        border-bottom: 1px #040404 solid;
        border-top: 1px #040404 solid;
        height: 143px;
        width: 100%;
        text-align: center;
        color: #fff;
        .right_float_a2_01{
            display: block;
            width: 26px;
            height: 23px;
            margin: 10px auto;
            background: url(../images/index_sprites.png) -3px -550px;
        }
        .right_float_a2_02{
            display: block;
            width: 21px;
            height: 23px;
            margin: 5px auto;
            text-align: center;
            line-height: 23px;
            background: #c20005;
            border-radius: 50%;
            color: #ffffff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0px 1px;
        }
    }
    .right_float_a2:hover{
        background-color: #C20005;
        .right_float_a2_02{
            background-color: white;
            color: #C20005;
        }
    }
    .right_float_a3{
        position: relative;
        display: block;
        height: 32px;
        width: 100%;
        margin-top: 10px;
        background: url(../images/index_sprites.png) no-repeat 0px -594px;
        span{
            height: 32px;
            position: absolute;
            top: 0px;
            opacity: 0;
            z-index: 999;
            transition: 0.5s;
            width: 100px;
            right: 60px;
            color: #ffffff;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            background-color: #c20005;
            display: none;
        }
    }
    .right_float_a3:hover{
        background-color: #C20005;
        span{
            position: absolute;
            display: block;
            top: 0px;
            right: 30px;
            opacity: 1;
        }
    }
    .right_float_a4{
        position: relative;
        display: block;
        height: 32px;
        width: 100%;
        margin-top: 10px;
        background: url(../images/index_sprites.png) no-repeat -2px -644px;
        span{
           height: 32px;
            position: absolute;
            top: 0px;
            opacity: 0;
            z-index: 999;
            transition: 0.5s;
            width: 100px;
            right: 60px;
            color: #ffffff;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            background-color: #c20005;
            display: none;
        }
    }
    .right_float_a4:hover{
        background-color: #C20005;
        span{
            position: absolute;
            display: block;
            top: 0px;
            right: 30px;
            opacity: 1;         
        }
    }
    .right_float_a5{
        position: relative;
        display: block;
        height: 32px;
        width: 100%;
        margin-top: 10px;
        background: url(../images/index_sprites.png) no-repeat -1px -696px;
        span{
            position: absolute;
            display: none;
            left: -143px;
            top: -100px;
            width: 143px;
            background: #efefef;
            color: #696969;
            text-align: center;
            padding-bottom: 20px;
            cursor: default;
            img{
                display: block;
                margin: 20px auto 5px auto
            }
        }
    }
    .right_float_a5:hover{
         background-color: #C20005;
        span{
            display: block;
        }
    }
    .right_float_a6{
        position: absolute;
        bottom: 42px;
        display: block;
        height: 32px;
        width: 100%;
        margin-top: 10px;
        background: url(../images/index_sprites.png) no-repeat -2px -2723px;
        span{
            height: 32px;
            position: absolute;
            top: 0px;
            z-index: 999;
            transition: 0.5s;
            width: 100px;
            right: 30px;
            color: #ffffff;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            background-color: #c20005;
            display: none;
        }
    }
    .right_float_a6:hover{
         background-color: #C20005;
        span{
            display: block;
        }
    }
    .right_float_a7{
        margin-top: 100px;
        position: absolute;
        bottom: 10px;
        display: none;
        display: block;
        height: 32px;
        width: 100%;
        background: url(../images/index_sprites.png) no-repeat 0px -745px;
        span{
            height: 32px;
            position: absolute;
            top: 0px;
            z-index: 999;
            transition: 0.5s;
            width: 100px;
            right: 30px;
            color: #ffffff;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            background-color: #c20005;
            display: none;
        }
    }
    .right_float_a7:hover{
         background-color: #C20005;
        span{
            display: block;
        }
    }
}
